@use "../abstracts" as abs;
.overlay{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(abs.$color-black,.75);
}

button{
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

