//Main colors
$color-primary:hsl(26, 100%, 55%);
$color-secondary:hsl(25, 100%, 94%);

//Neutral colors
$color-blue--darkish:hsl(220, 13%, 13%);
$color-blue--dark:hsl(219, 9%, 45%);
$color-blue--grayish:hsl(220, 14%, 75%);
$color-blue--gray:hsl(223, 64%, 98%);
$color-white:hsl(0, 0%, 100%);
$color-black:hsl(0, 0%, 0%);

